@model MyPass.Core.ViewModels.CategoryFormViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Create</h2>

<form>
    <div class="form-group">
        @Html.LabelFor(x=>x.Name)
        @Html.TextBoxFor(x=>x.Name, new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Date)
        @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Time)
        @Html.TextBoxFor(x => x.Time, new { @class = "form-control" })
    </div>
</form>