@model MyPass.Core.ViewModels.EntryFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Entry</h2>
@using (Html.BeginForm("Create", "Entries"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>    
    <div class="form-group">
        @Html.LabelFor(x => x.Desription)
        @Html.TextAreaFor(x => x.Desription, new { @class = "form-control", rows=3 })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Date)
        @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Time)
        @Html.TextBoxFor(x => x.Time, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.CategoryId)
        @Html.DropDownListFor(x => x.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">
        Save
    </button>
}


